<div class="container">
    <div class="row">
        <div class="col l-12 c-12 m-12">
            <div class="main-login">
                <form action="" method="POST" class="form" id="form-1">
                    <h3 class="heading">LOG IN</h3>
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="text" placeholder="Ex: email@domain.com"
                            class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Password 👀</label>
                        <input id="password" name="password" type="password" placeholder="Password"
                            class="form-control">
                        <span class="form-message"></span>
                    </div>


                    <button class="form-submit btn">LogIn</button>
                </form>

            </div>
        </div>
    </div>
</div>