.image-courses {
  width: 348px;
  height: 261px; }

.max-box {
  width: 348px;
  height: 463px; }

.description-transform {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px; }

a:hover {
  text-decoration: none; }
